{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">{{ translated_texts.registration_title }}</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        
        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                <div class="text-danger">
                    {% for error in field.errors %}
                        <small>{{ error }}</small>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% endfor %}
        
        <button type="submit" name="next" class="btn button-orange">{{ translated_texts.next_button }}</button>
    </form>
</div>
{% endblock %}
