{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}
{% block content %}
  <div class="home">
    <h2>Welcome to Our Language Register Platform</h2>
    <p>
      Our goal is to provide language courses for refugees to help them integrate, 
      communicate and build a better future. Our courses are designed to suit a variety of skill levels, 
      from beginner to advanced, and are tailored to the unique needs of our students.
    </p>
    <br>
    <h2>Available Courses</h2>
    <ul class="two-column-list">
      {% for course in courses %}
        <li>{{ course.name }} ({{ course.language }})</li>
      {% empty %}
        <li>No courses available at the moment.</li>
      {% endfor %}
    </ul>
    <br>
    <h2>Important information</h2>
    <p>Please note that registration for any of our courses requires the purchase of specific textbooks and materials, 
      which are necessary to fully participate and succeed in the program. By enrolling, you commit to attending all classes 
      and completing assignments. We strive to make these resources as affordable as possible and are here to support you every step of the way.
    </p>
    <br>
    <h2>How to Register?</h2>
    <p>Click on the "Register Now" button to start your journey with us.</p>
    <a href="/form" class="btn button-orange">Register Now</a>
  </div>
{% endblock %}
