{% extends "refugees/base.html" %}
{% load static %}

{% block title %} JRS zapisy na języki {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block content %}
  <div class="form-home">
    <h1 class="form-title">Formularz</h1>
    <br>
    <p class="description">Proszę odpowiedzieć na poniższe pytania, aby kontynuować rejestrację.</p>
    <br>
    <form> 
      <label for="slavic-lang-country">Na jaki kurs językowy planujesz się zarejestrować?</label>
      <div class="radio-group">
        <div class="choice">
        <input type="radio" id="english" name="language-course" value="Angielski" />
        <label for="english">Język Angielski</label>
      </div>
        <div class="choice">
        <input type="radio" id="polish" name="language-course" value="Polski" />
        <label for="polish">Język Polski</label>
      </div>
      </div>
    </form>
  </div>
{% endblock %}