{% extends "base.html" %}

{% block title %}
    Language Test
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Language Test</h2>
    <form method="post">
        {% csrf_token %}
        
        {% for question in questions %}
            <div class="form-group">
                <label>{{ question.text }}</label>
                
                {% if question.question_type == 'choice' %}
                    {% for choice in question.choices.all %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="question_{{ question.id }}" value="{{ choice.id }}">
                            <label class="form-check-label">{{ choice.text }}</label>
                        </div>
                    {% endfor %}
                {% elif question.question_type == 'open' %}
                    <textarea name="question_{{ question.id }}" class="form-control"></textarea>
                {% endif %}
                
            </div>
        {% endfor %}

        <button type="submit" class="btn button-orange">Submit Test</button>
    </form>
</div>
{% endblock %}
