{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}
{% block content %}
<div class="success-message">
    <h1>Success!</h1>
    <p>{{ success_message }}</p>
    <p>{{ instructions_message }}</p>
    <p>{{ contact_message}} <a href="https://jrs.center/napisz-do-nas/">{{contact_link}}</a></p>
</div>
{% endblock %}



<!-- 

<div class="success-message">
    <h1>Success!</h1>
    <p>Your registration was successful. We have sent a confirmation email to your address.</p>
    <p>Check your inbox for further instructions.</p>
    <p>If you have any questions, <a href="https://jrs.center/napisz-do-nas/">contact us</a>.</p>
</div>
-->