.container {
    max-width: 1196px;
    padding: 10px;
    margin: 0 auto;
}

.page-title {
    color: rgb(77, 85, 91);
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 20px;
}

hr{
    margin: 50px 0;
}
