.container {
    max-width: 1196px;
    padding: 10px;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.page-title {
    color: rgb(77, 85, 91);
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 20px;
}

hr{
    margin: 50px 0;
}

.treshold-inputs{
    max-width: 250px;
    display: flex;
    align-items: center;
    margin: 7px;
    gap: 7px;

}

.treshold-inputs input{
    width: 70px;

}

.treshold-inputs-form{
    display: flex;
    align-items: center;
    gap: 2%;
}

.treshold-inputs-form button{
    margin: 0 !important;
}

.slavic-indicator{
    display: inline-block;
    width: 5px;
    height: 25px;
    margin-right: 5px;
    background-color: #48a7f5; 
    border-radius: 1px; 
}