.button-grey{
    background-color: grey;
    color: white;
    margin-top: 1%;
}

.button-grey:hover{
    color:white;
    background-color: rgb(97, 96, 96);
}

.button-grey:focus{
    outline: none;
    box-shadow: none;
}

.button-orange{
    background-color: var(--jrs-orange);
    color: white;
    margin-top: 1%;
}

.button-orange:hover{
    color:white;
    background-color: rgb(253, 180, 45)
}

.button-orange:focus{
    outline: none;
    box-shadow: none;
}