:root{
    --jrs-blue: rgb(38, 82, 140);
    --jrs-orange: #D97014;
}

.navbar{
    background-color: var(--jrs-blue);
}

nav img{
    display: flex;
    justify-content: space-between;
}

h3{
    color: whitesmoke;
}

.nav-menu{
    color: orange;
}
.menu-button{
    border-style: solid;
    border-color: orange;
}

@media (max-width: 768px) {
    .navbar-title {
      font-size: 1rem;
    }
  }

@media (max-width: 576px) {
    .navbar-title {
      display: none;
    }
  }