.form-home {
    display: block;
    text-align: center;
    margin-top: 7%;
}

.radio-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.5em;
    margin-left: 38%;
}

.choice {
    margin-bottom: 0.5em;
}
