.home {
    display: block;
    text-align: center;
    margin-top: 6%;
}

.button-orange{
    background-color: var(--jrs-orange);
    color: white;
    margin-top: 1%;
}

form{
    margin: 1%;
}
.two-column-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
    padding: 0;
    margin-left: 20%;
    margin-right: 20%;
    max-width: 600px;
    list-style-position: inside;
}



.radio-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.5em;
    margin-left: 38%;
}

.choice {
    margin-bottom: 0.5em;
}
