:root {
    --jrs-blue: rgb(38, 82, 140);
    --jrs-orange: #D97014;
}

.navbar {
    background-color: var(--jrs-blue);
}

nav img {
    display: flex;
    justify-content: space-between;
}

h3 {
    color: whitesmoke;
}

.nav-menu {
    color: orange;
}

.menu-button {
    border-style: solid;
    border-color: orange;
}

@media (max-width: 768px) {
    .navbar-title {
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    .navbar-title {
        display: none;
    }
}

.second-navbar {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: 45px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.second-nav-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border-bottom: solid 1px lightgray;
    text-align: center;
    text-decoration: none;
    color: rgb(91, 97, 107);
    padding: 0;
    margin: 0;
}

a.second-nav-item:hover {
    text-decoration: none;
}

@media (max-width: 768px) {
    .second-navbar {
        height: auto;
    }

    .second-nav-item {
        flex-basis: 50%;
    }
}