<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static '404.css' %}">
</head>
<body>
    <div class="container centered-content">
    <div>
    <h1 class="error-number">404</h1>
    <h2>PAGE NOT FOUND</h2>
    <p>Przepraszamy, ale nie możemy znaleźć tej strony.</p>
    <p class="error-main-page-link"><a href="/">Wróć na stronę główną</a></p>
    </div>
    </div>
</body>
</html>