{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}JRS{% endblock %}</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <link rel="stylesheet" href="{% static 'navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    {% block head %}{% endblock %}
  </head>
  <nav class="jrs-navbar">
    <div class="nav-container">
      {% if user_role == "admin" %}
        <a href="/systemadmin/">
          <div class="jrs-logo">
            <img src="/static/logo-09.2024.png" width="auto" height="50" class="d-inline-block align-top" alt="LOGO">
          </div>
        </a>
      {% elif user_role == "employee" %}
        <a href="/employee/">
          <div class="jrs-logo">
            <img src="/static/logo-09.2024.png" width="auto" height="50" class="d-inline-block align-top" alt="LOGO">
          </div>
        </a>
      {% else %}
        <div class="jrs-logo">
          <img src="/static/logo-09.2024.png" width="auto" height="50" class="d-inline-block align-top" alt="LOGO">
        </div>
      {% endif %} 
        {% if user_role == 'admin' %}
        <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>
        <div class=" mobile-menu-overlay hidden">
          <div class="nav-container mobile-menu-header">
            <a href="/systemadmin/">
              <div class="jrs-logo">
                <img src="/static/logo-09.2024.png" width="auto" height="50" class="d-inline-block align-top" alt="LOGO">
              </div>
            </a>
            <div class="close-menu">
              <i class="fas fa-times"></i>
            </div>
          </div>
          <div class="mobile-menu-content">
          <a href="/systemadmin/attendance/" class="mobile-menu-item">Obecności</a>
          <a href="/systemadmin/form-management" class="mobile-menu-item">Testy</a>
          <a href="/systemadmin/courses-management" class="mobile-menu-item">Kursy</a>
          <a href="/systemadmin/recruitment_management" class="mobile-menu-item">Rekrutacja</a>
          <a href="/systemadmin/timetable/" class="mobile-menu-item">Układanie planu lekcji</a>
          <a href="/systemadmin/employee-management" class="mobile-menu-item">Pracownicy</a>
          <a class="mobile-menu-item logout-btn" href="{% url 'logout' %}">Wyloguj się</a>

        {% elif user_role == 'employee' %}
        <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>
        <div class="mobile-menu-overlay hidden">
          <div class="nav-container mobile-menu-header">
            <a href="/employee/">
              <div class="jrs-logo">
                <img src="/static/logo-09.2024.png" width="auto" height="50" class="d-inline-block align-top" alt="LOGO">
              </div>
            </a>
            <div class="close-menu">
              <i class="fas fa-times"></i>
            </div>
          </div>
          <div class="mobile-menu-content">
          <a href="/employee/attendance" class="mobile-menu-item">Obecności</a>
          <a href="/employee/form-management" class="mobile-menu-item">Testy</a>
          <a class="mobile-menu-item logout-btn" href="{% url 'logout' %}">Wyloguj się</a>

          {% elif user_role == 'refugee' %}
            <div class="jrs-refugee-nav-menu">
              <div class="language-select">
                <form method="GET" action="" onsubmit="return false;">
                  <select name="lang" id="lang-select" class="lang-select" onchange="this.form.submit()">
                    <option value="en">English</option>
                    <option value="pl">Polski</option>
                    <option value="es">Español</option>
                    <option value="de">Deutsch</option>
                    <option value="fr">Français</option>
                    <option value="uk">Українська (Ukrainian)</option> <!-- Ukraina -->
                    <option value="ru">Русский (Russian)</option> <!-- Rosja, byłe ZSRR -->
                    <option value="ar">العربية (Arabic)</option> <!-- Kraje arabskie -->
                    <option value="fa">فارسی (Persian)</option> <!-- Iran, Afganistan -->
                    <option value="hi">हिन्दी (Hindi)</option> <!-- Indie -->
                    <option value="ur">اردو (Urdu)</option> <!-- Pakistan, Indie -->
                    <option value="be">Беларуская (Belarusian)</option> <!-- Białoruś -->
                    <option value="tr">Türkçe (Turkish)</option> <!-- Turcja -->
                    <option value="ku">Kurdî (Kurdish)</option> <!-- Kurdystan (Turcja, Syria, Irak, Iran) -->
                    <option value="so">Soomaali (Somali)</option> <!-- Somalia, Etiopia, Kenia -->
                    <option value="ti">ትግርኛ (Tigrinya)</option> <!-- Etiopia, Erytrea -->
                    <option value="ce">Нохчийн (Chechen)</option> <!-- Czeczenia (Federacja Rosyjska) -->
                    <option value="bn">বাংলা (Bengali)</option> <!-- Bangladesz, Indie -->
                    <option value="am">አማርኛ (Amharic)</option> <!-- Etiopia -->
                    <option value="vi">Tiếng Việt (Vietnamese)</option> <!-- Wietnam -->
                    <option value="ka">ქართული (Georgian)</option> <!-- Gruzja -->
                    <option value="ro">Română (Romanian)</option> <!-- Mołdawia -->
                    <option value="ko">한국어 (Korean)</option> <!-- Korea Południowa -->
                    <option value="zh">中文 (Chinese)</option> <!-- Chiny -->
                    <option value="dz">دری (Dari)</option> <!-- Afganistan -->
                    <option value="ps">پښتو (Pashto)</option> <!-- Afganistan -->
                    <option value="tg">Тоҷикӣ (Tajik)</option> <!-- Tadżykistan -->
                    <option value="uz">O‘zbekcha (Uzbek)</option> <!-- Uzbekistan -->
                  </select>
                </form>      
              </div>
              <script>
                document.addEventListener("DOMContentLoaded", function () {
                  const langSelect = document.getElementById("lang-select");
                  const urlParams = new URLSearchParams(window.location.search);
                  let lang = urlParams.get("lang");
                  if (!lang) {
                    lang = localStorage.getItem("selectedLang") || "en";
                  }
                  langSelect.value = lang;
                  langSelect.addEventListener("change", function () {
                    localStorage.setItem("selectedLang", this.value);
                    const newUrl = new URL(window.location);
                    newUrl.searchParams.set("lang", this.value);
                    window.location.href = newUrl.toString();
                  });
                });
              </script>
              <div class="navbar-login">
                <a class="nav-list-trigger dropdown-toggle nav-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/login">Pracownik JRS</a>
                  </div>
                </a>
              </div>
            </div>

        {% endif %}
      </div>
    </div>
   

  {% if user_role == 'admin' %}
    <div class="jrs-admin-nav-menu">
      <a href="/systemadmin/attendance/" class="second-nav-item">Obecności</a>
      <a href="/systemadmin/form-management" class="second-nav-item">Testy</a>
      <a href="/systemadmin/courses-management" class="second-nav-item">Kursy</a>
      <a href="/systemadmin/recruitment_management" class="second-nav-item">Rekrutacja</a>
      <a href="/systemadmin/timetable/" class="second-nav-item">Układanie planu lekcji</a>
      <a href="/systemadmin/employee-management" class="second-nav-item">Pracownicy</a>
      <a class="second-nav-item logout-btn" href="{% url 'logout' %}">Wyloguj się</a>
    </div>
  {% elif user_role == 'employee' %}
  <div class="jrs-employee-nav-menu">
    <a href="/employee/attendance/" class="second-nav-item">Obecności</a>
    <a href="/employee/form-management" class="second-nav-item">Testy</a>
    <a class="second-nav-item logout-btn" href="{% url 'logout' %}">Wyloguj się</a>
  </div>
  {% endif %}
</nav>

</div>
  <div class="container">{% block content %}{% endblock %}</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="/static/js/navbar-menu.js"></script>
  <script src="/static/js/close_alert.js"></script>
  <script src="/static/js/translation_options.js"></script>
  <script src="{% static 'js/instructions.js' %}"></script>
  </html>
