{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}JRS{% endblock %}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <link rel="stylesheet" href="{% static 'navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    {% block head %}{% endblock %}
  </head>
  <nav class="navbar">
    <img src="https://via.placeholder.com/100x50?text=Logo" width="100" height="50" class="d-inline-block align-top" alt="LOGO" />
    <h3 class="navbar-title">
      {% if user_role == 'admin' %}
        JRS Admin
      {% elif user_role == 'employee' %}
        JRS Employee
      {% elif user_role == 'refugee' %}
        JRS Registration for Language Courses
      {% else %}
        JRS
      {% endif %}
    </h3>
    
    {% if user_role != 'refugee' %}
    <div class="navbar-logout">
      <a class="nav-list-trigger dropdown-toggle nav-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="{% url 'logout' %}">Wyloguj się</a>
        </div>
      </a>
    </div>
    {% else %}
    <div class="navbar-flags">
      <a><img src="{% static 'ukraine-flag.png' %}" width="40" height="30" class="d-inline-block align-top flag-nav" alt="Ukrainian" /></a>
      <a><img src="{% static 'england-flag.png' %}" width="40" height="30" class="d-inline-block align-top" alt="English" /></a>
      <a class="nav-list-trigger dropdown-toggle nav-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="/login">Pracownik JRS</a>
        </div>
      </a>
    </div>
    {% endif %}
  </nav>

  {% if user_role == 'admin' %}
  <nav class="second-navbar">
    <a href="/systemadmin" class="second-nav-item">Start</a>
    <a href="/systemadmin/form-management" class="second-nav-item">Edycja - Testy</a>
    <a href="/systemadmin/courses-management" class="second-nav-item">Zarządzanie kursami</a>
    <a href="/systemadmin/employee-management" class="second-nav-item">Zarządzanie pracownikami</a>
  </nav>
  {% elif user_role == 'employee' %}
  <nav class="second-navbar">
    <a href="/employee" class="second-nav-item">Start</a>
    <a href="/employee/form-management" class="second-nav-item">Edycja - Testy</a>
    <a href="/employee/courses-management" class="second-nav-item">Zarządzanie kursami</a>
  </nav>
  {% endif %}

  <div class="container">{% block content %}{% endblock %}</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
