<!DOCTYPE html>
<html>
<head>
    <title>JRS zapisy na jezyki</title>
</head>
<body>
    <h3>System zapisów na języki</h3>
    <a href="/login" style="text-decoration: none;">
        <button type="button">Pracownik JRS</button>
    </a>
    <h1>Formularz</h1>
    {% for question in questions %}
        <div>
            <h2>{{ question.text }}</h2>
            {% if question.question_type == 'multiple_choice' %}
                <ul>
                    {% for choice in question.choices.all %}
                        <li>{{ choice.text }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endfor %}
</body>
</html>
