{% extends "base.html" %}
{% load static %}

{% block title %} JRS zapisy na języki - Logowanie{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}
{% block content %}
    <h1>Login</h1>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter email" required>
            <small id="emailHelp" class="form-text text-muted">Please enter your email address to log in.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-submit-login">Submit</button>
    </form>
{% endblock %}

