{% extends "base.html" %}
{% load static %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'timetable.css' %}">
<link rel="stylesheet" href="{% static 'admin_and_employee.css' %}">
{% endblock %}
{% block content %}
<h1 class="page-title">PANEL ADMINISTRATORA</h1>
<div class="main-page-buttons-container">
  <a href="/systemadmin/attendance/" class="main-page-button">
    <i class="fa-solid fa-clipboard-check"></i>
    Obecności
  </a>
  <a href="/systemadmin/form-management" class="main-page-button">
    <i class="fa-solid fa-pen-to-square"></i>
    Testy
  </a>
  <a href="/systemadmin/courses-management" class="main-page-button">
    <i class="fa-solid fa-book-open"></i>
    Kursy
  </a>
  <a href="/systemadmin/recruitment_management" class="main-page-button">
    <i class="fa-solid fa-users"></i>
    Rekrutacja
  </a>
  <a href="/systemadmin/timetable/" class="main-page-button">
    <i class="fa-solid fa-calendar-alt"></i>
    Układanie planu lekcji
  </a>
  <a href="/systemadmin/employee-management" class="main-page-button">
    <i class="fa-solid fa-id-badge"></i>
    Pracownicy
  </a>
  <a href="{% url 'export_employees_csv' %}" class="main-page-button">
    <i class="fa-solid fa-file-export"></i>
    Wyeksportuj dane pracowników
  </a>
  <a href="{% url 'export_courses_csv' %}" class="main-page-button">
    <i class="fa-solid fa-book"></i>
    Wyeksportuj dane kursów
  </a>
  <a href="{% url 'export_refugees_csv' %}" class="main-page-button">
    <i class="fa-solid fa-database"></i>
    Wyeksportuj zapisy na semestry
  </a>
</div>

<br>

<div class="table-centered">
<table class="table table-responsive timetable">
  <thead>
    <tr>
      <th>Godzina</th>
      <th>Poniedziałek</th>
      <th>Wtorek</th>
      <th>Środa</th>
      <th>Czwartek</th>
      <th>Piątek</th>
    </tr>
  </thead>
  <tbody>
    {% for interval in timetable %}
    {% if interval.interval %}
    <tr>
      <td>
        {{ interval.interval.start_time|time:"H:i" }} - {{ interval.interval.end_time|time:"H:i" }}
      </td>
      {% for day_data in interval.days %}
      <td>
        {% for lesson in day_data.lessons %}
        <div class="lesson" style="background-color: #add8e6;">
          <strong>{{ lesson.course__name }}</strong><br />
          {{ lesson.teacher__user__last_name }}<br />
          Sala: {{ lesson.classroom__name }}<br />
          <small>{{ day_data.day }}</small><br />
          <small>Od {{ lesson.time_interval__start_time|time:"H:i" }}</small> -
          <small>Do {{ lesson.time_interval__end_time|time:"H:i" }}</small>
        </div>
        {% empty %}
        <div class="empty-slot">---</div>
        {% endfor %}
      </td>
      {% endfor %}
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
