{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'admin_and_employee.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <button onclick="window.history.back()" class="btn button-grey">
        <i class="fa-solid fa-arrow-left"></i>
    </button>
<h1 class="page-title">LISTA KURSANTÓW</h1>
<div class="table-responsive">
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Płeć</th>
            <th>Email</th>
            <th>Data urodzenia</th>
            <th>Numer telefonu</th>
            <th>Narodowość</th>
            <th>Typ pobytu</th>
            <th>Komentarze</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for refugee in refugees %}
            <tr>
                <td>{{ refugee.first_name }}</td>
                <td>{{ refugee.last_name }}</td>
                <td>
                    {% if refugee.gender == "female" %}
                        Kobieta
                    {% elif refugee.gender == "male" %}
                        Mężczyzna
                    {% else %}
                        Inna
                    {% endif %}
                </td>
                <td>{{ refugee.email }}</td>
                <td>{{ refugee.dob|date:"d.m.Y" }}</td>
                <td>{{ refugee.phone_number }}</td>
                <td>{{ refugee.get_nationality_name }}</td>
                <td>{{ refugee.residency }}</td>
                <td>{{ refugee.comments }}</td>
                <td>
                    <a href="{% url 'delete_refugee' refugee.id %}" class="text-danger" onclick="return confirm('Czy na pewno chcesz usunąć tego kursanta?')">
                        &times;
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}