{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'admin_and_employee.css' %}">
{% endblock %}
{% block content %}
<div class="centered-container">
    <div class="help-icon" onclick="toggleInstructions()">
        ?
      </div>
      
      <div class="instruction-popup" id="instructionPopup">
        <button class="close-popup" onclick="toggleInstructions()">×</button>
        <h2>Instrukcje</h2>
        <p id="instructionText"></p>
      </div>
<h2>Zarejestruj pracownika</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class=" btn button-orange" type="submit">Zarejestruj</button>
</form>
</div>
{% endblock %}