{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Utwórz nowy test</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.title.id_for_label }}" class="form-label">{{ form.title.label }}</label>
            {{ form.title }}
            {% if form.title.errors %}
                <div class="text-danger">
                    {% for error in form.title.errors %}
                        <small>{{ error }}</small>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="{{ form.description.id_for_label }}" class="form-label">{{ form.description.label }}</label>
            {{ form.description }}
            {% if form.description.errors %}
                <div class="text-danger">
                    {% for error in form.description.errors %}
                        <small>{{ error }}</small>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="{{ form.language.id_for_label }}" class="form-label">{{ form.language.label }}</label>
            {{ form.language }}
            {% if form.language.errors %}
                <div class="text-danger">
                    {% for error in form.language.errors %}
                        <small>{{ error }}</small>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <button type="submit" class="btn button-orange">Utwórz test</button>
    </form>
</div>
{% endblock %}
