{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'admin_and_employee.css' %}">
<link rel="stylesheet" href="{% static 'ae_mark_attendance.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    {% if messages %}
        <div class="alert-overlay">
            <div class="alert-box">
                <button type="button" class="btn-close" aria-label="Close" onclick="closeAlertBox()">X</button>
                {% for message in messages %}
                    <div class="alert" style="margin: 10px">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
<button onclick="window.history.back()" class="btn button-grey">
    <i class="fa-solid fa-arrow-left"></i>
</button>
<div class="help-icon" onclick="toggleInstructions()">
    ?
  </div>
  
  <div class="instruction-popup" id="instructionPopup">
    <button class="close-popup" onclick="toggleInstructions()">×</button>
    <h2>Instrukcje</h2>
    <p id="instructionText"></p>
  </div>
<h1 class="page-title">OBECNOŚCI</h1>
<div class="attendance-container">
<h1>Lista zajęć</h1>
<div class="table-centered">
<table class="table table-responsive responsive-table">
    <thead>
        <tr>
            <th>Kurs</th>
            <th>Dzień</th>
            <th>Godzina</th>
            <th>Klasa</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for schedule in schedules %}
        <tr class="desktop-row">
            <td>{{ schedule.course.name }}</td>
            <td>{{ schedule.get_day_display }}</td>
            <td>{{ schedule.time_interval }}</td>
            <td>{{ schedule.classroom.name }}</td>
            <td>
                <button onclick="toggleDates({{ forloop.counter }})" class="btn btn-link">
                    <i class="fas fa-chevron-down" style="color: #D97014;"></i>
                </button>
            </td>
        </tr>
        <tr class="mobile-row">
            <td colspan="5" class="mobile-info">
                <strong>Kurs:</strong> {{ schedule.course.name }}<br>
                <strong>Dzień:</strong> {{ schedule.get_day_display }}<br>
                <strong>Godzina:</strong> {{ schedule.time_interval }}<br>
                <strong>Klasa:</strong> {{ schedule.classroom.name }}
                <button onclick="toggleDates({{ forloop.counter }})" class="btn btn-link">
                    <i class="fas fa-chevron-down" style="color: #D97014;"></i>
                </button>
            </td>
        </tr>
        <tr id="dates-{{ forloop.counter }}" style="display: none;">
            <td colspan="5">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for date in schedule.dates %}
                        <tr class="{% if date|date:'Y-m-d' in schedule.cancelled_dates_set %}cancelled{% endif %}">
                            <td>{{ date|date:'d.m.Y' }}</td>
                            <td>
                                {% if date|date:'Y-m-d' in schedule.cancelled_dates_set %}
                                    <span style="color: grey;">Odwołano</span>
                                    <div class="attendance-dates-management">
                                        <form method="POST" style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="schedule_id" value="{{ schedule.id }}">
                                            <input type="hidden" name="date" value="{{ date|date:'Y-m-d' }}">
                                            <button type="submit" name="uncancel_date" class="btn btn-link" style="color: green;">
                                                Anuluj odwołanie
                                            </button>
                                        </form>
                                    </div>
                                {% else %}
                                    <div class="attendance-dates-management">
                                        {% if user_role == 'admin' %}
                                            <a href="{% url 'mark_attendance_admin' schedule.id date %}" class="btn btn-link attendance-action-button" style="color: #D97014;">Sprawdź obecność</a>
                                        {% elif user_role == 'employee' %}
                                            <a href="{% url 'mark_attendance' schedule.id date %}" class="btn btn-link" style="color: #D97014;">Sprawdź obecność</a>
                                        {% endif %}
                                        <form method="POST" style="display: inline;" >
                                            {% csrf_token %}
                                            <input type="hidden" name="schedule_id" value="{{ schedule.id }}">
                                            <input type="hidden" name="date" value="{{ date|date:'Y-m-d' }}">
                                            <button onclick="return confirm('Czy na pewno chcesz odwołać zajęcia?')" type="submit" name="cancel_date" class="btn btn-link attendance-action-button" style="color: red;">
                                                Odwołaj zajęcia
                                            </button>
                                        </form>
                                    </div>
                                {% endif %}
                            </td>                            
                        </tr>
                        {% endfor %}
                    </tbody>
                    
                    
                </table>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Brak zajęć do wyświetlenia.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
<script>
function toggleDates(counter) {
    const row = document.getElementById(`dates-${counter}`);
    row.style.display = row.style.display === "none" ? "table-row" : "none";
}
</script>
</div>
{% endblock %}