{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'admin_and_employee.css' %}">
<link rel="stylesheet" href="{% static 'ae_mark_attendance.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    {% if messages %}
    <div class="alert-overlay">
        <div class="alert-box">
            <button type="button" class="btn-close" aria-label="Close" onclick="closeAlertBox()">X</button>
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} mb-2">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
<button onclick="window.history.back()" class="btn button-grey">
    <i class="fa-solid fa-arrow-left"></i>
</button>
<h1 class="page-title">OBECNOŚCI</h1>
<div class="attendance-container">
<h1>Lista zajęć</h1>
<div class="table-centered">
<table class="table table-responsive responsive-table">
    <thead>
        <tr>
            <th>Kurs</th>
            <th>Dzień</th>
            <th>Godzina</th>
            <th>Klasa</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for schedule in schedules %}
        <tr class="desktop-row">
            <td>{{ schedule.course.name }}</td>
            <td>{{ schedule.get_day_display }}</td>
            <td>{{ schedule.time_interval }}</td>
            <td>{{ schedule.classroom.name }}</td>
            <td>
                <button onclick="toggleDates({{ forloop.counter }})" class="btn btn-link">
                    <i class="fas fa-chevron-down" style="color: #D97014;"></i>
                </button>
            </td>
        </tr>
        <tr class="mobile-row">
            <td colspan="5" class="mobile-info">
                <strong>Kurs:</strong> {{ schedule.course.name }}<br>
                <strong>Dzień:</strong> {{ schedule.get_day_display }}<br>
                <strong>Godzina:</strong> {{ schedule.time_interval }}<br>
                <strong>Klasa:</strong> {{ schedule.classroom.name }}
                <button onclick="toggleDates({{ forloop.counter }})" class="btn btn-link">
                    <i class="fas fa-chevron-down" style="color: #D97014;"></i>
                </button>
            </td>
        </tr>
        <tr id="dates-{{ forloop.counter }}" style="display: none;">
            <td colspan="5">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for date in schedule.dates %}
                        <tr>
                            <td>{{ date|date:'d.m.Y' }}</td>
                            <td>
                                {% if user_role == 'admin' %}
                                    <a href="{% url 'mark_attendance_admin' schedule.id date %}" style="color: #D97014;">Sprawdź obecność</a>
                                {% elif user_role == 'employee' %}
                                    <a href="{% url 'mark_attendance' schedule.id date %}" style="color: #D97014;">Sprawdź obecność</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Brak zajęć do wyświetlenia.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
<script>
function toggleDates(counter) {
    const row = document.getElementById(`dates-${counter}`);
    row.style.display = row.style.display === "none" ? "table-row" : "none";
}
</script>
</div>
{% endblock %}