{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'admin_and_employee.css' %}">
<link rel="stylesheet" href="{% static 'ae_mark_attendance.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    {% if messages %}
        <div class="alert-overlay">
            <div class="alert-box">
                <button type="button" class="btn-close" aria-label="Close" onclick="closeAlertBox()">X</button>
                {% for message in messages %}
                    <div class="alert" style="margin: 10px">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <button onclick="window.history.back()" class="btn button-grey">
        <i class="fa-solid fa-arrow-left"></i>
    </button>
    <h1 class="page-title">REJESTRACJA OBECNOŚCI NA ZAJĘCIACH - {{ date|date:'d.m.Y' }}</h1>
    <div class="help-icon" onclick="toggleInstructions()">
        ?
      </div>
      
      <div class="instruction-popup" id="instructionPopup">
        <button class="close-popup" onclick="toggleInstructions()">×</button>
        <h2>Instrukcje</h2>
        <p id="instructionText"></p>
      </div>
    <div class="table-centered">
        <form method="post">
            {% csrf_token %}
            {{ formset.management_form }}
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Uczestnik</th>
                        <th>Status</th>
                        <th class="hidden-on-small">Uwagi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in formset %}
                    <tr>
                        <td class="mark_attendance-title">
                            {% if user_role == "admin" %}
                            <a class="btn btn-link" style="color: #D97014;" href="{% url 'student_attendance_admin' form.instance.refugee.id %}"> {{ form.instance.refugee }}
                                {{ form.id }} </a>
                            {% else %}
                            <a class="btn btn-link" style="color: #D97014;" href="{% url 'student_attendance' form.instance.refugee.id %}"> {{ form.instance.refugee }}
                                {{ form.id }} </a>
                            {% endif %}
                        </td>
                        <td>
                            {% for choice in form.fields.status.choices %}
                            <div class="form-check">
                                <input 
                                    type="radio" 
                                    class="form-check-input" 
                                    id=" status-{{ forloop.parentloop.counter }}-{{ forloop.counter }}" 
                                    name="form-{{ forloop.parentloop.counter0 }}-status" 
                                    value="{{ choice.0 }}"
                                    {% if form.initial.status == choice.0 %}checked{% endif %}
                                >
                                <label 
                                    class="form-check-label attendance_status" 
                                    for="status-{{ forloop.parentloop.counter }}-{{ forloop.counter }}"
                                >
                                    {{ choice.1 }}
                                </label>
                            </div>
                            {% endfor %}
                            {% if form.status.errors %}
                            <div class="invalid-feedback">
                                {% for error in form.status.errors %}
                                <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </td>
                        <td class="hidden-on-small">
                            {{ form.notes }}
                            {% if form.notes.errors %}
                            <div class="invalid-feedback">
                                {% for error in form.notes.errors %}
                                <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3" style="text-align: center;">Brak uchodźców przypisanych do tego kursu.</td>
                    </tr>
                    {% endfor %}
                </tbody>                
            </table>

            <button type="submit" class="btn button-orange mt-3">Zapisz obecności</button>
        </form>
    </div>
</div>

{% endblock %}